@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #ada1a1; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}

h1 {
    color: #8968b1; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: "Great Vibes", serif; /* Семейство шрифтов */
}

@keyframes color-change {
    0% {
    color: rgb(255, 38, 0);
    }

    50% {
    color: rgb(255, 77, 0);
    transform: scale(1.2);
    }

    100% {
        color: rgb(255, 77, 0);
    }
}

h1 {
    animation: color-change 3s infinite;
}


a{
    text-decoration: none;
    margin: 20px;
    background-color: red;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}

a:hover{
    transform: scale(1.2);  
}